html,
body {
  height: 100%;
}

body {
  background-color: $bg-color;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#main-content {
  flex: 1;
}

footer {
  padding: 1em;
}
